
{{define "main"}}
    {{- partial "donate_banner.html" . -}}
  
			
    <div id="main-wrapper">

			<!-- Main -->
            <div class="box container">
                <div class="row gtr-200">
                    <div class="col-12 imp-medium">

                        <!-- Content -->
                            <div id="content">
                                <section class="last homepage-header">
                                    {{.Content }} 
                                    
                                </section>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="features-wrapper">
        <div class="container">
            <!-- it would be nice to make this automatic, but realistically I can live with updating the template once or twice a year-->
           
            <section class="year-row row">
                <div class="col-12">
                    <a href="/posts/2024"><h1>Drinktober 2024</h1></a>
                </div>
            {{range first 3 (where (where (where .Site.RegularPages "Section" "posts") "Date.Year" "==" 2024 ) "Params.hide_post" "!=" true )}}
            
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                        <div class="inner">
                                <a href="{{.Permalink}}"><header>
                                <h2>{{.Date.Local.Format "January"}} {{.Date.Local.Day}} {{.Date.Local.Year}}</h2>
                                <p>{{ .Title }}</p>
                            </header></a>
                        </div>
                        {{if .Params.author}}
                        {{ $thumbnail := cond (eq .Params.author "Jonathan") "/jonathan-face.jpg" "/heidi-face.jpg"}}
                        <div class="feature_thumb"><img src="{{$thumbnail}}"/></div>
                        {{end}}
                    </section>

            </div>
            {{end}}
            <div class="col-12">
                <a class="btn btn-primary btn-lg" href="/posts/2024">all of Drinktober 2024</a>
            </div>

            </section>
            <section class="year-row row">
                <div class="col-12">
                    <a href="/posts/2023"><h1>Drinktober 2023</h1></a>
                </div>
            {{range first 3 (where (where (where .Site.RegularPages "Section" "posts") "Date.Year" "==" 2023 ) "Params.hide_post" "!=" true )}}
            
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                        <div class="inner">
                                <a href="{{.Permalink}}"><header>
                                <h2>{{.Date.Local.Format "January"}} {{.Date.Local.Day}} {{.Date.Local.Year}}</h2>
                                <p>{{ .Title }}</p>
                            </header></a>
                        </div>
                        {{if .Params.author}}
                        {{ $thumbnail := cond (eq .Params.author "Jonathan") "/jonathan-face.jpg" "/heidi-face.jpg"}}
                        <div class="feature_thumb"><img src="{{$thumbnail}}"/></div>
                        {{end}}
                    </section>

            </div>
            {{end}}
            <div class="col-12">
                <a class="btn btn-primary btn-lg" href="/posts/2023">all of Drinktober 2023</a>
            </div>

            </section>
            <section class="year-row row">
                <div class="col-12">
                    <a href="/posts/2022"><h1>Drinktober 2022</h1></a>
                </div>
            {{range first 3 (where (where .Site.RegularPages "Section" "posts") "Date.Year" "==" 2022 )}}
            
            <div class="col-4 col-12-medium">

                <!-- Box -->
                    <section class="box feature">
                        <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                        <div class="inner">
                                <a href="{{.Permalink}}"><header>
                                <h2>{{.Date.Local.Format "January"}} {{.Date.Local.Day}} {{.Date.Local.Year}}</h2>
                                <p>{{ .Title }}</p>
                            </header></a>
                        </div>
                        {{if .Params.author}}
                        {{ $thumbnail := cond (eq .Params.author "Jonathan") "/jonathan-face.jpg" "/heidi-face.jpg"}}
                        <div class="feature_thumb"><img src="{{$thumbnail}}"/></div>
                        {{end}}
                    </section>

            </div>
            {{end}}
            <div class="col-12">
                <a class="btn btn-primary btn-lg" href="/posts/2022">all of Drinktober 2022</a>
            </div>

            </section>
                <section class="year-row row">
                    <div class="col-12">
                    <a href="/12beers/2020"><h1>12 beers of Christmas 2020</h1></a>
                </div>
                {{ $years := (slice 2020 2021) }}
                {{ $latest := where (where .Site.RegularPages "Section" "12beers") "Date.Year" "in" $years  }}
                {{if eq (len $latest) 0}}
                
                <div class="col-12 ">
                    <img class="placeholder-col" src="/images/christmas_placeholder.png">
                </div>
                
                {{else}}
                {{range first 3 $latest}}
                
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                        <section class="box feature">
                            <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                            <div class="inner">
                                    <a href="{{.Permalink}}"><header>
                                    <h2>{{.Date.Local.Format "January"}} {{.Date.Local.Day}} {{.Date.Local.Year}}</h2>
                                    <p>{{ .Title }}</p>
                                </header></a>
                            </div>
                            {{if .Params.author}}
                            {{ $thumbnail := cond (eq .Params.author "Jonathan") "/jonathan-face.jpg" "/heidi-face.jpg"}}
                            <div class="feature_thumb"><img src="{{$thumbnail}}"/></div>
                            {{end}}
                        </section>

                </div>
                {{end}}
                

                <div class="col-12">
                    <a class="btn btn-primary btn-lg" href="/posts/2020">all of 12 beers of Christmas 2020</a>
                </div>
                {{end}}
                </section>
                
       {{range where .Sections "Section" "==" "posts"}}
            {{range .Sections}}
            {{$year := path.Base .File.Dir}}
                {{if ne (path.Base .File.Dir) "2022"}}

                <section class="year-row row">
                        <div class="col-12">
                            <a href="{{.Permalink}}"><h1>{{.Title}}</h1></a>
                        </div>
                        {{range first 3 .Pages}}
                
                        <div class="col-4 col-12-medium">
        
                            <!-- Box -->
                                <section class="box feature">
                                    <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                                    <div class="inner">
                                            <a href="{{.Permalink}}"><header>
                                            <h2>{{.Date.Local.Format "January"}} {{.Date.Local.Day}} {{.Date.Local.Year}}</h2>
                                            <p>{{ .Title }}</p>
                                        </header></a>
                                    </div>
                                    {{if .Params.author}}
                                    {{ $thumbnail := cond (eq .Params.author "Jonathan") "/jonathan-face.jpg" "/heidi-face.jpg"}}
                                    <div class="feature_thumb"><img src="{{$thumbnail}}"/></div>
                                    {{end}}
                                </section>
        
                        </div>
                        {{end}}
                        
                <div class="col-12">
                    <a class="btn btn-primary btn-lg" href="{{.Permalink}}">all of {{.Title}}</a>
                </div>
                    </section>
                {{end}}
            {{end}}
       {{end}}
    </div>
{{end}}
