{{define "main"}}

{{- partial "donate_banner.html" . -}}
<div id="banner" class="box container">
    <div class="row">
        <div class="col-12">
            <h2>{{ .Title }}</h2>
            {{ .Content }}
        </div>
    </div>
</div>
<div id="features-wrapper">
        <div class="container">
            <div class="row">
                
                {{range where .CurrentSection.Pages "Section" "posts" }}
                
                <div class="col-4 col-12-medium">

                    <!-- Box -->
                        <section class="box feature">
                            <a href="{{.Permalink}}" class="image featured"><img src='{{ .Params.thumbnail | absURL }}' alt="" /></a>
                            <div class="inner">
                                    <a href="{{.Permalink}}"><header>
                                    <h2>{{ .Title }}</p>
                                </header></a>
                            </div>
                        </section>

                </div>
                {{end}}
            </div>
        </div>
    </div>
{{end}}