<!-- Donate now! banner -->
<section class="donate-profile">
    <h1 class="profile-name ">
        {{ if .Site.Params.donationsActive }}
        <a href="{{.Site.Params.donateLink}}"
        onclick="captureOutboundLink('{{.Site.Params.donateLink}}')";
        target="_blank">
            {{end}}
            {{ .Site.Params.donateTitleSingle }}
        {{ if .Site.Params.donationsActive }}</a>{{end}}
         </h1>
    <div class="profile-avatar">
        {{ if .Site.Params.donationsActive }}
        <a href="{{.Site.Params.donateLink}}"
        onclick="captureOutboundLink('{{.Site.Params.donateLink}}')";
        target="_blank">
            {{end}}
        <img class="avatar"
            src='{{ "heidi-face.jpg" | absURL }}'
            alt="Thumb cee78103 3cd7 461e 9059 359e40face4e">
            {{ if .Site.Params.donationsActive }} </a>{{end}}
    </div>
    {{ if .Site.Params.showProgress }}
    {{ $total := .Site.Params.totalraised}}
    {{ $target := .Site.Params.targettotal }}
    {{ $pct := div (mul $total 100.0) $target }}
    <h1 class="total">
        £{{$total}} raised of £{{ $target}} ({{$pct}}%)
    </h1>
    <h3 class="raising-for">for <a class="heading-link" 
        href="https://www.gosober.org.uk/beneficiaries/macmillan">
        Macmillan Cancer Support</a></h3>
    <div class="profile-target">

        <div class="progress">
            <div class="progress-bar" style="width: {{cond (le $pct 100.0) $pct 100}}%;">
                <div class="sr-only">{{$pct}}%</div>
            </div>
        </div>

    </div>
    {{else}}
    <h1 class="total">
    </h1>
    {{end}}
    {{ if .Site.Params.donationsActive }}
    <a class="btn btn-primary btn-lg btn-block" 
    href="{{.Site.Params.donateLink}}">
    {{ .Site.Params.donateCTASingle }} </a>
        {{else}}
        <a class="btn btn-disabled btn-lg btn-block" onclick="return false;" 
        aria-disabled="true" href="#">
        Coming soon 
        </a> 
    {{ end }}
</section>
