<!-- Donate now! banner -->

{{ if .Site.Params.donationsActive  }}
<section id="progress-banner" class="box container">
    {{ $total := .Site.Params.totalraised}}
    {{ $target := .Site.Params.targettotal }}
    {{ $pct := div (mul $total 100.0) $target }}
    <div class="row">
        <div class="col-12">
            <h1 class="total">
            £{{$total}} raised of £{{$target}} ({{$pct}}%)
            </h1>
            <div class="progress">
                <div class="progress-bar" style="width: {{cond (le $pct 100.0) $pct 100}}%;">
                    <div class="sr-only">{{$pct}}%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        
        <div class="col-12">
            
            <a class="btn btn-primary btn-lg btn-block" 
            onclick="captureOutboundLink('{{.Site.Params.donateLink}}')";
            target="_blank"
            href="{{.Site.Params.donateLink}}">
                Donate now! 
            </a>
        </div>
    </div>
</section>
{{end}}
