<title>Drinktober</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178409002-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178409002-1');
  var captureOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
</script>

<!-- Google Tag Manager This goes as high in the HEAD as possible-->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKT944G');</script>
<!-- End Google Tag Manager -->

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href='{{ "assets/css/main.css" | absURL}}' />
<link rel="stylesheet" href='{{ "assets/css/custom.css" | absURL}}' />
{{if .Site.Params.keywords}}
<meta name="keywords" content='{{.Site.Params.keywords}}'>
{{end}}
<meta name="description" content="{{ .Description }}">
<!-- Start of Open Graph -->
{{ if .IsHome }}
<meta property="og:title" content="Heidi's going sober for October. Her friend Jonathan... isn't.">
<meta name="title" content="Heidi's going sober for October. Her friend Jonathan... isn't.">
<meta property="og:type" content="website">
{{ else }}
<meta property="title" content="{{ .Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
{{ end }}
<meta property="og:description" content="{{ .Description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if .Params.thumbnail }}
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
{{else}}
<meta property="og:image" content='{{ "calendar2018.jpg" | absURL}}'>
{{ end }}
{{ range .Params.tags }}
<meta property="og:tags" content="{{ . }}">
{{ end }}
<!-- End of Open Graph -->
