
			<!-- Header -->
            <div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="/">Drinktober</a></h1>
								
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="/">Home</a></li>
									<li><a href="/posts/2019">2019</a></li>
									<li>
										<a href="#">Older</a>
										<ul>
											<li><a href="/posts/2018">2018</a></li>
											<li><a href="/posts/2017">2017</a></li>
											
										</ul>
									</li>
									<li><a style="color:#ff4486;border: 2px solid white;" href="https://www.gosober.org.uk/users/heidi-victoria-ireland">Donate Now!</a></li>
								</ul>
							</nav>

					</header>
				</div>
