
{{define "main"}}
    {{- partial "donate_banner.html" . -}}
    
    <section id="banner" class="box container about">
        <div class="row">
            <div class="col-9 col-7-large col-12-small">
                <h1>Heidi is going sober for October</h1>
                <p>{{.Params.heidi_text | markdownify }}</p>
            </div>
            <div class="col-3 col-5-large col-12-small">
                    <section>
                        <a href="#" class="image featured"><img src="/heidi.jpg" alt="" /></a>
                    </section>
            </div>
        <!-- </div>
        <div class="row"> -->
            <div class="col-3 col-5-large col-12-small">
                <section>
                    <a href="#" class="image featured left"><img src="/jonathan.jpg" alt="" /></a>
                </section>
            </div>
            <div class="col-9 col-7-large col-12-small">
                <h1>Her friend Jonathan... isn't</h1>
                <p>{{.Params.jonathan_text | markdownify }}</p>
            </div>
        </div>
    </section>
			
    <div id="main-wrapper">

			<!-- Main -->
            <div class="box container">
                <div class="row gtr-200">
                    <div class="col-12 imp-medium">

                        <!-- Content -->
                            <div id="content">
                                <section class="last">
                                    {{.Content }} 
                                </section>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
{{end}}