
{{define "main"}}
   
    <div id="main-wrapper">

			<!-- Main -->
            <div class="container">
                <div class="row gtr-200">
                    <div class="col-12 imp-medium">

                        <!-- Content -->
                            <div id="content">
                                <section class="last">
                                    {{.Content }} 
                                </section>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
{{end}}